@using Yonetimsell.Shared.ComplexTypes
@using Yonetimsell.Shared.Extensions
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Üyelik Planları</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Üyelik Planları</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Üyelik Planlarımız</p>
            <h1 class="display-5 mb-5">Deneyiminizi arttıracak tekliflerimiz</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Ücretsiz</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>@SubscriptionPlan.Basic.GetDisplayName() Plan</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>@SubscriptionPlan.Standard.GetDisplayName() Plan</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>@SubscriptionPlan.Premium.GetDisplayName() Plan</h5>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="~/img/service-1.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">Ücretsiz Kullanım</h3>
                                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Proje oluşturma</p>
                                <p><i class="fa fa-times text-danger me-3"></i>Sınırsız takım arkadaşı seçeneği</p>
                                <p><i class="fa fa-times text-danger me-3"></i>Grafik ve istatistikler</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Kayıt ol</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="~/img/service-2.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">@SubscriptionPlan.Basic.GetDisplayName() Plan</h3>
                                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Proje oluşturma</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Sınırsız takım arkadaşı seçeneği</p>
                                <p><i class="fa fa-times text-danger me-3"></i>Grafik ve istatistikler</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Kayıt ol</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="~/img/service-3.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">@SubscriptionPlan.Standard.GetDisplayName() Plan</h3>
                                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Proje oluşturma</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Sınırsız takım arkadaşı seçeneği</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Grafik ve istatistikler</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Kayıt ol</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="~/img/service-4.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">@SubscriptionPlan.Premium.GetDisplayName() Plan</h3>
                                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Proje oluşturma</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Sınırsız takım arkadaşı seçeneği</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Grafik ve istatistikler</p>
                                <p><i class="fa fa-check text-primary me-3"></i>En yeni güncelleştirmeleri ilk siz deneyin</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Kayıt ol</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
