@using System.Globalization
@model List<ProjectViewModel>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4 h-100">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0 display-6">Projelerim</h6>
            <a asp-area="Customer" asp-controller="Project" asp-action="Create" class=" btn btn-lg btn-success">Yeni <i class="fas fa-plus"></i></a>
        </div>
        <div class="table-responsive">
            @if (Model.Count != 0)
            {
                <table id="myDataTable" class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Proje Adı</th>
                        <th scope="col">Açıklaması</th>
                        <th scope="col">TeamMembers</th>
                        <th scope="col">Öncelik</th>
                        <th scope="col">Durum</th>
                        <th scope="col">Bitiş Tarihi</th>
                        <th scope="col">Süre</th>
                        <th scope="col">İlerleme</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var p in Model)
                    {
                        <tr data-project-id="@p.Id">
                            <td>@p.Name</td>
                                @{
                                    int lenght = p.Description.Length >= 30 ? 30 : p.Description.Length;
                                }
                            <td>@p.Description.Substring(0,lenght)@(p.Description.Length>30?"...":"" )</td>
                            <td>
                                <select class="form-select form-select-sm">
                                    <option>Yapılacak</option>
                                    <option>Yapılacak</option>
                                    <option>Yapılacak</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-sm" asp-for="@p.Priority">
                                    <option value="0">Düşük</option>
                                    <option value="1">Orta</option>
                                    <option value="2">Yüksek</option>
                                    <option value="3">Acil/Kritik</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-sm" asp-for="@p.Status">
                                    <option value="0">Devam ediyor</option>
                                    <option value="1">Tamamlandı</option>
                                    <option value="2">Hatalı</option>
                                    <option value="3">Beklemede</option>
                                </select>
                            </td>
                                <td>@p.EndDate.ToString("dd-MM-yyyy") @CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(p.EndDate.DayOfWeek)</td>
                            <td>
                                <div class="pg-bar mb-3">
                                    <div class="progress">
                                            @{
                                                string barColor="";
                                                if (p.ProgressPercentage <= 25)
                                                {
                                                    barColor = "bg-success";
                                                }else if (p.ProgressPercentage <= 50)
                                                {
                                                    barColor = "bg-info";
                                                }else if (p.ProgressPercentage <= 75)
                                                {
                                                    barColor = "";
                                                }else if (p.ProgressPercentage < 100)
                                                {
                                                    barColor = "bg-warning";
                                                }
                                                else
                                                {
                                                    barColor = "bg-danger";
                                                }
                                            }
                                        <div class="progress-bar progress-bar-striped @barColor" role="progressbar" style="width:@(p.ProgressPercentage)%" aria-valuenow="@p.ProgressPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="pg-bar mb-3">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width:35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="m-n2 pb-3 pt-1 d-flex justify-content-evenly align-content-center">
                                    <a asp-area="Customer" asp-controller="Project" asp-action="Detail" asp-route-projectId="@p.Id" class="btn btn-warning btn-md"><i class="far fa-edit"></i></a>
                                    <a href="#" class="btn btn-danger btn-md"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>
<!-- Recent Sales End -->
@section Styles{
    @await Html.PartialAsync("_DataTablesStylesPartial")
}
@section Scripts {
    @await Html.PartialAsync("_DataTablesScriptsPartial")
    <script>
        document.querySelectorAll('#myDataTable tbody tr').forEach(function (row) {
            // Satır içerisindeki select ve button elementlerini dışarıda tut
            var interactiveElements = row.querySelectorAll('td:not(.exclude-from-click) select, td:not(.exclude-from-click) a');
            interactiveElements.forEach(function (element) {
                element.addEventListener('dblclick', function (event) {
                    event.stopPropagation(); // Satırın tıklanma işlemini durdur
                });
            });
            // Satıra çift tıklanınca proje detay sayfasına yönlendirme işlemi
            row.addEventListener('dblclick', function (event) {
                var projectId = this.dataset.projectId; // Satırın veri özniteliğinden proje ID'sini al
                if (projectId) {
                    // Proje detay sayfasına yönlendirme işlemi
                    window.location.href = '/Customer/Project/Detail?projectId=' + projectId;
                }
            });
        });
    </script>

}