@using System.Globalization
@using Yonetimsell.Shared.ComplexTypes
@using Yonetimsell.Shared.Extensions
@model CustomerPTaskListViewModel
@if(Model.PTasks.Count > 0)
{
    <div class="container-fluid pt-4 px-4 h-100">
        <div class="row g-4">
            @if (Model.Critical.Count > 0)
            {
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4 text-danger">Kritik Öncelikliler</h6>
                        <table id="myDataTableCritical" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Görev Adı</th>
                                    <th scope="col">Açıklaması</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Bitiş Tarihi</th>
                                    <th scope="col" class="text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.Critical)
                                {
                                    <tr data-project-id="@t.Id">
                                        <td>@t.Name</td>
                                        @{
                                            int lenght = t.Description.Length >= 30 ? 30 : t.Description.Length;
                                        }
                                        <td>@t.Description.Substring(0, lenght)@(t.Description.Length > 30 ? "..." : "")</td>
                                        <td>@t.Status.GetDisplayName()</td>
                                        <td>@t.DueDate.ToString("dd-MM-yyyy") @CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(t.DueDate.DayOfWeek)</td>
                                        <td>
                                            <div class="m-n2 pb-3 pt-1 d-flex justify-content-evenly align-content-center">
                                                <div class="btn-group" role="group">
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Done" asp-route-pTaskId="@t.Id" class="btn btn-success"><i class="fas fa-check"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="OnHold" asp-route-pTaskId="@t.Id" class="btn btn-secondary"><i class="fas fa-pause"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Stuck" asp-route-pTaskId="@t.Id" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.High.Count > 0)
            {
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4 text-warning">Yüksek Öncelikliler</h6>
                        <table id="myDataTableHigh" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Görev Adı</th>
                                    <th scope="col">Açıklaması</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Bitiş Tarihi</th>
                                    <th scope="col" class="text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.High)
                                {
                                    <tr data-project-id="@t.Id">
                                        <td>@t.Name</td>
                                        @{
                                            int lenght = t.Description.Length >= 30 ? 30 : t.Description.Length;
                                        }
                                        <td>@t.Description.Substring(0, lenght)@(t.Description.Length > 30 ? "..." : "")</td>
                                        <td>@t.Status.GetDisplayName()</td>
                                        <td>@t.DueDate.ToString("dd-MM-yyyy") @CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(t.DueDate.DayOfWeek)</td>
                                        <td>
                                            <div class="m-n2 pb-3 pt-1 d-flex justify-content-evenly align-content-center">
                                                <div class="btn-group" role="group">
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Done" asp-route-pTaskId="@t.Id" class="btn btn-success"><i class="fas fa-check"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="OnHold" asp-route-pTaskId="@t.Id" class="btn btn-secondary"><i class="fas fa-pause"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Stuck" asp-route-pTaskId="@t.Id" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.Medium.Count > 0)
            {
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4 text-primary">Normal Öncelikliler</h6>
                        <table id="myDataTableMedium" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Görev Adı</th>
                                    <th scope="col">Açıklaması</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Bitiş Tarihi</th>
                                    <th scope="col" class="text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.Medium)
                                {
                                    <tr data-project-id="@t.Id">
                                        <td>@t.Name</td>
                                        @{
                                            int lenght = t.Description.Length >= 30 ? 30 : t.Description.Length;
                                        }
                                        <td>@t.Description.Substring(0, lenght)@(t.Description.Length > 30 ? "..." : "")</td>
                                        <td>@t.Status.GetDisplayName()</td>
                                        <td>@t.DueDate.ToString("dd-MM-yyyy") @CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(t.DueDate.DayOfWeek)</td>
                                        <td>
                                            <div class="m-n2 pb-3 pt-1 d-flex justify-content-evenly align-content-center">
                                                <div class="btn-group" role="group">
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Done" asp-route-pTaskId="@t.Id" class="btn btn-success"><i class="fas fa-check"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="OnHold" asp-route-pTaskId="@t.Id" class="btn btn-secondary"><i class="fas fa-pause"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Stuck" asp-route-pTaskId="@t.Id" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.Low.Count > 0)
            {
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4 text-success">Düşük Öncelikliler</h6>
                        <table id="myDataTableLow" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Görev Adı</th>
                                <th scope="col">Açıklaması</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Bitiş Tarihi</th>
                                <th scope="col" class="text-center">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var t in Model.Low)
                            {
                                <tr data-project-id="@t.Id">
                                    <td>@t.Name</td>
                                    @{
                                        int lenght = t.Description.Length >= 30 ? 30 : t.Description.Length;
                                    }
                                    <td>@t.Description.Substring(0, lenght)@(t.Description.Length > 30 ? "..." : "")</td>
                                    <td>@t.Status.GetDisplayName()</td>
                                    <td>@t.DueDate.ToString("dd-MM-yyyy") @CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(t.DueDate.DayOfWeek)</td>
                                    <td>
                                        <div class="m-n2 pb-3 pt-1 d-flex justify-content-evenly align-content-center">
                                            <div class="btn-group" role="group">
                                                <a asp-area="Customer" asp-controller="PTask" asp-action="Done" asp-route-pTaskId="@t.Id" class="btn btn-success"><i class="fas fa-check"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="OnHold" asp-route-pTaskId="@t.Id" class="btn btn-secondary"><i class="fas fa-pause"></i></a>
                                                    <a asp-area="Customer" asp-controller="PTask" asp-action="Stuck" asp-route-pTaskId="@t.Id" class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>
    </div>
}
else
{
    <div class="container-fluid pt-4 px-4 h-100">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Mevcut göreviniz bulunmamaktadır.</h6>
                </div>
            </div>
        </div>
    </div>
}
@section Styles {
    @await Html.PartialAsync("_DataTablesStylesPartial")
}
@section Scripts {
    @await Html.PartialAsync("_LowPrioTasksDataTablesScriptPartial")
    @await Html.PartialAsync("_MediumPrioTasksDataTablesScriptPartial")
    @await Html.PartialAsync("_HighPrioTasksDataTablesScriptPartial")
    @await Html.PartialAsync("_CriticalPrioTasksDataTablesScriptPartial")
}