@model List<Role>
<div class="container-fluid pt-4 px-4 h-100">
    <div class="row g-4">
        <div class="col-md-12">
            <div class="bg-secondary rounded p-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="display-6">Rol Listesi</h1>
                    <a asp-area="Admin" asp-controller="Role" asp-action="AddRole" class="btn btn-outline-success">Yeni Rol Ekle <i class="fas fa-plus"></i></a>
                </div>
                <div class="table-responsive">
                    <table id="myDataTable" class="table text-start table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Ad</th>
                                <th scope="col">Açıklama</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr data-role-id="@role.Id">
                                    <td>@role.Id</td>
                                    <td>@role.Name</td>
                                    <td>@role.Description</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Role" asp-action="EditRole" asp-route-roleId="@role.Id" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                        <a asp-area="Admin" asp-controller="Role" asp-action="DeleteRole" asp-route-roleId="@role.Id" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @await Html.PartialAsync("_DataTablesStylesPartial")
}
@section Scripts {
    @await Html.PartialAsync("_DataTablesScriptsPartial")
    <script>
        document.querySelectorAll('#myDataTable tbody tr').forEach(function (row) {
            // Satır içerisindeki select ve button elementlerini dışarıda tut
            var interactiveElements = row.querySelectorAll('td:not(.exclude-from-click) select, td:not(.exclude-from-click) a');
            interactiveElements.forEach(function (element) {
                element.addEventListener('dblclick', function (event) {
                    event.stopPropagation(); // Satırın tıklanma işlemini durdur
                });
            });
            // Satıra çift tıklanınca proje detay sayfasına yönlendirme işlemi
            row.addEventListener('dblclick', function (event) {
                var roleId = this.dataset.roleId; // Satırın veri özniteliğinden proje ID'sini al
                if (roleId) {
                    // Proje detay sayfasına yönlendirme işlemi
                    window.location.href = '/Admin/Role/EditRole?roleId=' + roleId;
                }
            });
        });
    </script>
}