@model List<MessageViewModel>
<div class="col-sm-12 col-md-6 col-xl-6">
    <div class="h-100 bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h6 class="mb-0">Mesajlar</h6>
            <a asp-area="Customer" asp-controller="Message" asp-action="Index">Tümünü gör</a>
        </div>
        @if(Model!=null && Model.Count > 0)
        {
            @foreach(var m in Model)
            {
            <div class="d-flex align-items-center border-bottom py-3">
                <img class="rounded-circle flex-shrink-0" src="@m.SenderImageUrl" alt="" style="width: 40px; height: 40px;">
                <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">@m.SenderFullName</h6>
                            <small>@($"@{m.SenderUserName}")</small>
                        </div>
                        <small>@m.SendingDate</small>
                    </div>
                    @{
                        int length = m.Text.Length >= 10 ? 10 : m.Text.Length;
                    }
                    <span>@m.Text.Substring(0, length)</span>
                </div>
            </div>
            
            }
        }
        else
        {
            <div class="d-flex align-items-center border-bottom py-3">
                <div class="w-100 ms-3">
                    <span>Hiç mesajınız bulunmamaktadır.</span>
                </div>
            </div>            
        }
    </div>
</div>
