@using System.Globalization
@model List<ProjectViewModel>
<div class="container-fluid pt-4 px-4 h-100">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0 display-6">Projeler</h6>
            <a asp-area="Customer" asp-controller="Project" asp-action="Create" class="btn btn-lg btn-success">Yeni <i class="fas fa-plus"></i></a>
        </div>
        @if (Model.Count > 0)
        {
            <div class="table-responsive">
                <table id="myDataTable" class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr >
                            <th scope="col">Proje Adı</th>
                            <th scope="col">Kullanıcı Adı</th>
                            <th scope="col">Açıklaması</th>
                            <th scope="col">Öncelik</th>
                            <th scope="col">Durum</th>
                            <th scope="col">Bitiş Tarihi</th>
                            <th scope="col">Silinmiş</th>
                            <th scope="col" class="text-center">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model)
                        {
                            <tr data-project-id="@p.Id">
                                <td>@p.Name</td>
                                @{
                                    int lenght = p.Description.Length >= 30 ? 30 : p.Description.Length;
                                }
                                <td>@p.User.UserName</td>
                                <td>@p.Description.Substring(0, lenght)@(p.Description.Length > 30 ? "..." : "")</td>
                                <td>
                                    <select class="form-select form-select-sm" onchange="changePriority(this,@p.Id)" id="priority-@p.Id" asp-for="@p.Priority">
                                        <option value="0">Düşük</option>
                                        <option value="1">Orta</option>
                                        <option value="2">Yüksek</option>
                                        <option value="3">Kritik</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" onchange="changeStatus(this,@p.Id)" id="status-@p.Id" asp-for="@p.Status">
                                        <option value="0">Devam ediyor</option>
                                        <option value="1">Tamamlandı</option>
                                        <option value="2">Hatalı</option>
                                        <option value="3">Beklemede</option>
                                    </select>
                                </td>
                                <td>@p.EndDate.ToString("dd-MM-yyyy") @CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.GetDayName(p.EndDate.DayOfWeek)</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" disabled type="checkbox" role="switch" asp-for="@p.IsDeleted" />
                                    </div>
                                </td>
                                <td>
                                    <div class="m-n2 pb-3 pt-1 d-flex justify-content-evenly align-content-center">
                                        <a asp-area="Admin" asp-controller="Project" asp-action="Detail" asp-route-projectId="@p.Id" class="btn btn-warning btn-md"><i class="far fa-edit"></i></a>
                                        <button onclick="removeProject(@p.Id)" class="btn btn-danger btn-md"><i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h3 class="w-100 text-start">Mevcut projeniz bulunmamaktadır. İlk projenizi oluşturmak için <a asp-area="Customer" asp-controller="Project" asp-action="Create" class=" btn-link fs-3">tıklayınız...</a></h3>
        }
    </div>
</div>
@section Styles {
    @await Html.PartialAsync("_DataTablesStylesPartial")
}
@section Scripts {
    @await Html.PartialAsync("_DataTablesScriptsPartial")
    <script>
        document.querySelectorAll('#myDataTable tbody tr').forEach(function (row) {
            // Satır içerisindeki select ve button elementlerini dışarıda tut
            var interactiveElements = row.querySelectorAll('td:not(.exclude-from-click) select, td:not(.exclude-from-click) a');
            interactiveElements.forEach(function (element) {
                element.addEventListener('dblclick', function (event) {
                    event.stopPropagation(); // Satırın tıklanma işlemini durdur
                });
            });
            // Satıra çift tıklanınca proje detay sayfasına yönlendirme işlemi
            row.addEventListener('dblclick', function (event) {
                var projectId = this.dataset.projectId; // Satırın veri özniteliğinden proje ID'sini al
                if (projectId) {
                    // Proje detay sayfasına yönlendirme işlemi
                    window.location.href = '/Admin/Project/Detail?projectId=' + projectId;
                }
            });
        });
    </script>
}
@section TopScripts {
    <script>
        const changeStatus = function (element, projectId) {
            var status = element.options[element.selectedIndex].value;
            $.ajax({
                url: '/Customer/Project/ChangeStatus',
                method: 'POST',
                data: {
                    projectId: projectId,
                    status: status
                },
                success: function (response) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: response.icon,
                        title: response.title
                    });
                }
            });
        }
        const changePriority = function (element, projectId) {
            var priority = element.options[element.selectedIndex].value;
            $.ajax({
                url: '/Customer/Project/ChangePriority',
                method: 'POST',
                data: {
                    projectId: projectId,
                    priority: priority
                },
                success: function (response) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: response.icon,
                        title: response.title
                    });
                }
            });
        }
    </script>
    <script>
        const removeProject = function (projectId) {
            Swal.fire({
                title: 'Projeyi kalıcı olarak silmek istediğinize emin misiniz?',
                text: "Proje ile birlikte takım arkadaşları ve görevleri de silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Admin/Project/Delete?projectId=' + projectId;
                }
            });
        }
    </script>
}